
/* @import url('https://fonts.googleapis.com/css?family=Fredoka+One'); */

body {
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  margin: 0;
  overflow: hidden;
  color: #fff;
  font-size: 1.2rem;
}

.snap {
  scroll-snap-type: y mandatory;
  display: flex;
  flex-direction: column; 
  height: 100vh; 
  overflow-y: scroll;
}

.slide {
  min-height: 100vh; 
  scroll-snap-align: start;
  position: relative;
  
}

.slide1 {
  display: flex; 
  justify-content: center;
  align-items: center;
  background: white;
  text-align: center;
}

.first{
  width: 100%; 
  text-align: center; 
  margin: 0; 
  font-size: 98pt; 
  color: #125379;
  letter-spacing: 20px;
  text-shadow: 
      0px -8px 0px #1797BA, 
      0px -16px 0px #D5E9ED; 
}

.slide1 span {
  position: relative; 
  display: inline-block; 
  width: 1em; 
  height: 1em;
  color: transparent;
}

.slide1 span::before {
  content: ''; 
  position: absolute; 
  top: 10px;
  right: 13px; 
  width: 120px; 
  height: 120px;
  background-image: url('image/planete.png');
  background-size: contain;
  background-repeat: no-repeat;
}


/* _______________________________________ */


.slide2 {
  background: #D5E9ED;
  background-attachment: fixed;
}


/* __________________________________ */

.slide3 {
  background: #1797BA;
  background-attachment: fixed;

}

.slide3 .bio h2{
  text-align: center;
  font-size: 40pt;
  margin-top: 30px;
}

.slide3 .mer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "icon text";
  width: 90%;
  margin: 0 auto;
  margin-bottom: 40px;
}

.slide3 .mer .icon img{
  margin-right:30px;
}

.slide3 .mer .icon h3{
  font-size:98pt; 
  text-shadow: 5px 3px 3px black;
  margin:0;
}

.mer .icon{
  display: flex;
  align-items: center;
}

/* --------------------------- */


.slide3 .animal{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "icon2 text2";
  width: 90%;
  margin: 0 auto;
}

.slide3 .animal .icon2 h3{
  font-size:98pt; 
  text-shadow: 5px 3px 3px black;
  margin:0;
}

.animal .icon2{
  display: flex;
  align-items: center;
  margin-left:60px; 
}

.icon2 img{
  margin-top:5px;
}

/* _______________________________________ */

:root {
  --red: #EF233C;
  --blue: #2B2D42;
  --orange: #FF9F1C;
}

* {
  box-sizing: border-box;
}

.slide4 {
  font-family: 'Nunito', sans-serif;
  height: 300px;
  margin: 0;
  background-color: #125379;
}


.btn {
  padding: 10px 10px;
  display: inline-block;
  background: var(--red);
  color: white;
  transition: background 0.35s ease-in-out;
  font-weight: 700;
}

.btn:hover {
  background: #d62839; 
}

.overlay {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.35s ease-in-out;
  max-height: 100vh;
  overflow-y: auto;
}

.overlay.open {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  background: white;
  padding: 40px 80px;
  box-shadow: 0px 1px 10px rgba(255, 255, 255, 0.35);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.35s ease-in-out;
  max-height: 100vh;
  overflow-y: auto;
  color: black;
}

.modal.open {
  opacity: 1;
  pointer-events: auto;
}

.content {
  transform: translate(0, -10px);
  opacity: 0;
  transition: transform 0.35s ease-in-out, opacity 0.35s ease-in-out;
}

.modal .content {
  opacity: 1 !important;
  visibility: visible !important;
  z-index: 1000 !important;
}


.title {
  margin-top: 0;
}
