/* styles generaux */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  overflow: hidden;
  color: #fff;
  font-size: 1.2rem;
}

.snap {
  scroll-snap-type: y mandatory;
  display: flex;
  flex-direction: column; 
  height: 100vh; 
  overflow-y: scroll;
}

.slide {
  min-height: 100vh; 
  scroll-snap-align: start;
  position: relative;
  
}

.slide1 {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px;
}

.slide1 .page1{
  margin-top:40px;
  display: flex; 
  justify-content: center;
  align-items: center;
  background: white;
  text-align: center;
}

.slide1 img{
  margin-top: 20px;
  width: 40%;
}

.first{
  width: 100%; 
  text-align: center; 
  margin: 0; 
  font-size: 8rem; 
  color: #125379;
  letter-spacing: 20px;
  text-shadow: 
      0px -8px 0px #1797BA, 
      0px -16px 0px #D5E9ED; 
}

.slide1 span {
  position: relative; 
  display: inline-block; 
  width: 0.94em;
  height: 0.94em;
  margin-right: 7px;
  color: transparent; 
  line-height: 1;
}

.slide1 span::before {
  content: ''; 
  position: absolute; 
  top: -8px; 
  left: -2px;
  width: 100%;
  height: 100%;
  background-image: url('image/planete.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}


/* _______________________________________ */
.slide2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: #D5E9ED;
  background-attachment: fixed;
  color: black;
}

#graphic {
  margin: 16px;
  width: 1000px;
  border: solid 1px #0B2760;
  position: relative;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#graphic button {
  font-size: 1rem;
}

#graph-title {
  color: #0B2760;
  text-align: center;
  margin-top: 72px;
  font-size: 2.5rem;
  font-family: "Staatliches", sans-serif;
}

/* CO2 ou Temperature boutons */
#tabs {
  width: 100%;
  position: absolute;
  top: -48px;
  left: -1px;
}

.tablink {
  width: 120px;
  height: 48px;
  background-color: white;
  color: black;
  border: solid 1px #0B2760;
  outline: none;
  cursor: pointer;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}


.tablink:hover {
  cursor: pointer;
}

.tablink.active {
  background-color: #0B2760;
  color: white;
}

.tablink.active:hover {
  cursor: default;
}

/* Continent boutons */
#continents {
  display: flex;
  flex-direction: column;
  align-items: center;
}


#continents button, #display-options button {
  background-color: white;
  padding: 12px 16px;
  border: solid 1px;
  border-radius: 21px;
  margin: 4px 0;
}


#continents button:hover,#display-options button:hover {
  cursor: pointer; 
}


#continents button.chosen, #display-options button.chosen {
  background-color: #0B2760;
  color: white;
}

#continents button.chosen:hover, #display-options button.chosen:hover {
  cursor: default;
}

/* Type de graphique boutons */
#display-options span {
  display: flex;
  align-items: center;
}


#display-options {
  text-align: right;
  position: absolute;
  right: 0;
  margin-right: 16px;
}


#display-options svg {
  margin-right: 8px;
}

/* details */
#sources-graphic {
  color: black;
  font-size: 0.8rem;
  position: absolute;
  top: 16px;
  padding: 0 4px;
  border-radius: 6px;
}

#sources-graphic summary {
  margin-bottom: 8px;
}

#sources-graphic a {
  color: black;
}

/* Graphique */
.flex {
  display: flex;
  align-items: center;
}

#legend .label {
  font-size: 1rem;
}

#display-table {
  height: 480px;
  overflow-y: auto;
  margin-bottom: 20px;
  border: solid 2px;
}

#display-table table {
  border-collapse: collapse;
}

td,th {
  border: solid 1px black;
  padding: 8px 16px;
}

th {
  width: 320px;
  background-color: #EFAE3A;
}


/* SLIDER */
.slider {
    margin: auto;
    width: 70%;
    display: flex;
    align-items: center;
}

.yearSlider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #0B2760;
    outline: none;
    width: 100%;
    height: 1px;
    margin-left: 12px;

}

.yearSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: #0B2760;
    cursor: pointer;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    border:none;
}

.yearSlider::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: #0B2760;
  cursor: pointer;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  border:none;
}

/* __________________________________ */

.slide3 {
  background: #82B7DF;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding:80px;
}

.titre h3{
  font-size: 10rem;
  color: #0B2760;
  text-shadow: 7px 5px 1px #6189A7;
  margin: 0;
}

.titre img{
  margin-bottom: 7px;
}

.titre {
  display: flex;
  justify-content: start;
  align-items: center;
  gap : 40px;
}

.info h4{
  font-family: "Staatliches", sans-serif;
  font-size: 4rem;
  margin: 0;
}

.info p{
  color: #00466E;
  font-size: 1.8rem;
  margin-top: 50px;
  margin-bottom: 0;
}

.info{
  display: flex;
  flex-direction: column;
  width: 50%;
}

.text{
  gap : 20px;
}

.dessin{
  float: right;
  width: 60%;
}

abbr{
  text-decoration: none;
}

/* --------------------------- */

.slide4 {
  background: #4A90C7;
  background-attachment: fixed;
  text-align: end;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding:20px;
}

.titre1 h3{
  font-size: 10rem;
  color: #0B2760;
  text-shadow: 7px 5px 1px #4b6984;
  margin: 0;
}

.titre1 img{
  margin : 30px;
}

.titre1 {
  display: flex;
  justify-content: end;
  align-items: center;
  gap : 10px;
}

.info1 p{
  color: #0B2760;
  font-size: 1.8rem;
  margin-top: 50px;
  margin-bottom: 0;
}

.info1{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 50px;
}

.info1 h4{
  font-size: 4rem;
  font-family: "Staatliches", sans-serif;
  margin: 0;
}

.dessin1{
  margin-left: 30px;
  order:-1;
  width: 40%;
}

.droit{
    font-size: 0.8rem;
    position: absolute; 
    bottom: 5px; 
    left: 50%; 
    transform: translateX(-50%); 
    color: #0B2760;
}


/* _______________________________________ */

:root {
  --red: #EF233C;
  --blue: #2B2D42;
  --orange: #FF9F1C;
}


.btn {
  padding: 10px 10px;
  display: inline-block;
  background: var(--red);
  color: white;
  transition: background 0.35s ease-in-out;
  font-weight: 700;
  margin: 10px;
}

.btn:hover {
  background: #d62839; 
}

.overlay {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.35s ease-in-out;
  max-height: 100vh;
  overflow-y: auto;
}

.overlay.open {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  background: white;
  padding: 40px 80px;
  box-shadow: 0px 1px 10px rgba(255, 255, 255, 0.35);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.35s ease-in-out;
  max-height: 100vh;
  overflow-y: auto;
  color: black;
}

.modal.open {
  opacity: 1;
  pointer-events: auto;
}

.content {
  transform: translate(0, -10px);
  opacity: 0;
  transition: transform 0.35s ease-in-out, opacity 0.35s ease-in-out;
}

.modal .content {
  opacity: 1 !important;
  visibility: visible !important;
  z-index: 1000 !important;
}


.title {
  margin-top: 0;
}


/* ----------------------------------------------- */

/** Demo Use Only **/
* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


/** FLOATING SOCIAL BUTTON **/
.float-btn {
  position: fixed;
  bottom: 0;
  right: 12px;
  margin: 20px 12px;
}

.float-btn .main-btn {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.float-btn a {
  display: inline-block;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 1.6rem;
  padding-top: 14px;
  cursor: pointer;
  box-shadow: -1px 3px 5px rgba(0, 0, 0, 0.3);
  transition: 0.2s;
}

.float-btn.top ul {
  text-align: center;
  position: absolute;
  z-index: 990;
  right: 0;
  opacity: 0;
  transition: 0.4s;
  transform: scale(0);
  bottom: -60px;
}

.float-btn.top ul li {
  margin-bottom: 1rem; /* Space between sub buttons */
}

.float-btn.top ul li a {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  width: 100%;
  padding: 10px;
  text-align: center; 
  border-radius: 5px; 
  background-color: black; 
  color: white; 
  text-decoration: none;
  transition: background-color 0.3s;
}

.float-btn.top ul li a:hover {
  background-color: rgb(48, 44, 44); /* Couleur de fond au survol */
}

.float-btn.top ul.toggled {
  opacity: 1;
  bottom: 60px;
  transform: scale(1);
}

/* Modal Styles */
.overlay {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.35s ease-in-out;
}

.overlay.open {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  background: white;
  padding: 40px 80px;
  box-shadow: 0px 1px 10px rgba(255, 255, 255, 0.35);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.35s ease-in-out;
  width: 70%;
  padding: 30px;
}

.modal.open{
  opacity: 1;
  pointer-events: auto;
}

.modal .content {
  transform: translate(0, -10px);
  opacity: 0;
  transition: transform 0.35s ease-in-out, opacity 0.35s ease-in-out;
}

.modal .content {
  opacity: 1 !important;
  visibility: visible !important;
  z-index: 1000 !important;
  gap: 25px;
}


.modal .content > div p{
  margin: 5px 0;
}

.modal .content > div h3 {
  margin-bottom: 10px;
  margin-top:50px;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color:black;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.btn:hover {
  background-color: rgb(48, 44, 44);
}