
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  overflow: hidden;
  color: #fff;
  font-size: 1.2rem;
}

.snap {
  scroll-snap-type: y mandatory;
  display: flex;
  flex-direction: column; 
  height: 100vh; 
  overflow-y: scroll;
}

.slide {
  min-height: 100vh; 
  scroll-snap-align: start;
  position: relative;
  
}

.slide1 {
  display: flex; 
  justify-content: center;
  align-items: center;
  background: white;
  text-align: center;
}

.first{
  width: 100%; 
  text-align: center; 
  margin: 0; 
  font-size: 98pt; 
  color: #125379;
  letter-spacing: 20px;
  text-shadow: 
      0px -8px 0px #1797BA, 
      0px -16px 0px #D5E9ED; 
}

.slide1 span {
  position: relative; 
  display: inline-block; 
  width: 1em; 
  height: 1em;
  color: transparent;
}

.slide1 span::before {
  content: ''; 
  position: absolute; 
  top: 10px;
  right: 13px; 
  width: 120px; 
  height: 120px;
  background-image: url('image/planete.png');
  background-size: contain;
  background-repeat: no-repeat;
}


/* _______________________________________ */


.slide2 {
  background: #D5E9ED;
  background-attachment: fixed;
}


/* __________________________________ */

.slide3 {
  background: #82B7DF;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding:80px;
}

.titre h3{
  font-size: 120pt;
  color: #0B2760;
  text-shadow: 7px 5px 1px #6189A7;
  margin: 0;
}

.titre img{
  width: 100px;
  height: 150px;
  margin-bottom: 7px;
}

.titre {
  display: flex;
  justify-content: start;
  align-items: center;
  gap : 40px;
}

.info h4{
  font-family: "Staatliches", sans-serif;
  font-size: 60px;
  margin: 0;
}

.info p{
  color: #00466E;
  font-size: 32px;
  margin-top: 50px;
  margin-bottom: 0;
}

.info{
  display: flex;
  flex-direction: column;
  width: 50%;
}

.text{
  gap : 20px;
}

.dessin{
  float: right;
  width: 60%;
}



/* --------------------------- */

.slide4 {
  background: #4A90C7;
  background-attachment: fixed;
  text-align: end;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding:20px;
}

.titre1 h3{
  font-size: 120pt;
  color: #0B2760;
  text-shadow: 7px 5px 1px #172E3F;
  margin: 0;
}

.titre1 img{
  width: 150px;
}

.titre1 {
  display: flex;
  justify-content: end;
  align-items: center;
  gap : 10px;
}

.info1 p{
  color: #0B2760;
  font-size: 32px;
  margin-top: 50px;
  margin-bottom: 0;
}

.info1{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 50px;
}

.info1 h4{
  font-family: "Staatliches", sans-serif;
  font-size: 60px;
  margin: 0;
}

.dessin1{
  margin-left: 30px;
  order:-1;
  width: 40%;
}


/* _______________________________________ */

:root {
  --red: #EF233C;
  --blue: #2B2D42;
  --orange: #FF9F1C;
}

* {
  box-sizing: border-box;
}

.slide5 {
  font-family: 'Roboto', sans-serif;
  height: 300px;
  margin: 0;
  background-color: #304674;
  flex-direction: column;
}


.btn {
  padding: 10px 10px;
  display: inline-block;
  background: var(--red);
  color: white;
  transition: background 0.35s ease-in-out;
  font-weight: 700;
  margin: 10px;
}

.btn:hover {
  background: #d62839; 
}

.overlay {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.35s ease-in-out;
  max-height: 100vh;
  overflow-y: auto;
}

.overlay.open {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  background: white;
  padding: 40px 80px;
  box-shadow: 0px 1px 10px rgba(255, 255, 255, 0.35);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.35s ease-in-out;
  max-height: 100vh;
  overflow-y: auto;
  color: black;
}

.modal.open {
  opacity: 1;
  pointer-events: auto;
}

.content {
  transform: translate(0, -10px);
  opacity: 0;
  transition: transform 0.35s ease-in-out, opacity 0.35s ease-in-out;
}

.modal .content {
  opacity: 1 !important;
  visibility: visible !important;
  z-index: 1000 !important;
}


.title {
  margin-top: 0;
}
